<html>
    <head>
        <title>Pokalien - ADX</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    </head>
    <body>
        <section class="section">
          <div class="container">
                <div class="columns">
                  <div class="column is-one-fifths is-offset-one-fifth is-three-quarters-mobile">
                    <h1 class="title">Aliendex - ADX</h1>
                  </div>
                  <div class="column">
                    <button onclick="location.href = '/new';" class="button is-rounded is-light is-success">Ajouter</button> <button onclick="location.href = 'https://github.com/TheoCouss/DEUST-AlienPokedex';" class="button is-light is-rounded is-info">GitHub</button>
                  </div>

                </div>
                <br>
                <div class="columns">
                  <div class="column is-three-fifths is-offset-one-fifth">
                    {{>list}}
                  </div>
                </div>
          </div>
        </section>
        <footer class="footer">
          <div class="content has-text-centered">
            <p>
              <strong>AlienDex</strong> par <a href="https://theo-labs.fr">Théophile Coussière</a>. Le source code est sous licence
              <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
            </p>
          </div>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </body>
</html>
